<div class="row">
  <div class="col-lg-6">
    <form [formGroup]="productFrm">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" formControlName="title">
        <div *ngIf="productFrm.get('title').errors && productFrm.get('title').touched">
          <span style="color:red;" *ngIf="productFrm.get('title').errors['required']">Product title required</span>
        </div>
      </div>
      <div class="form-group">
        <label>Cost</label>
        <input class="form-control" formControlName="cost">
        <div *ngIf="productFrm.get('cost').errors && productFrm.get('cost').touched">
          <span style="color:red;" *ngIf="productFrm.get('cost').errors['required']">Product cost required</span>
        </div>
      </div>
      <div class="form-group">
        <label>Category</label>
        <select class="form-control" formControlName="category">
          <option *ngFor="let cat of categories" [value]="cat._id">
            {{cat.label}}
          </option>
        </select>
        <div *ngIf="productFrm.get('category').errors && productFrm.get('category').touched">
          <span style="color:red;" *ngIf="productFrm.get('category').errors['required']">Product category required</span>
        </div>
      </div>
      <div class="form-group">
        <label>Url</label>

        <!-- <input type="file" ng2FileSelect [uploader]="uploader" /><br> -->
        <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

        <!-- start -->
        <div class="col-md-9" style="margin-bottom: 40px">

          <h3>Upload queue</h3>
          <p>Queue length: {{ uploader?.queue?.length }}</p>

          <table class="table">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td>
                  <strong>{{ item?.file?.name }}</strong>
                </td>
                <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess">
                    <i class="glyphicon glyphicon-ok"></i>
                  </span>
                  <span *ngIf="item.isCancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                  </span>
                  <span *ngIf="item.isError">
                    <i class="glyphicon glyphicon-remove"></i>
                  </span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" (click)="save(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>
                  <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div>
            <div>
              Queue progress:
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
       
          </div>

        </div>

        <!-- end -->
       
      </div>
      <div class="form-group">
        <button *ngIf="btn_stt" class="btn btn-success" [disabled]="!productFrm.valid" (click)="saveProduct()">Save</button>
        <button *ngIf="!btn_stt" class="btn btn-success" [disabled]="!productFrm.valid" (click)="updateProduct()">Update</button>

      </div>
    </form>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <!-- <img class="card-img-top" [src]="productFrm.get('url').value" alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title">{{productFrm.get('title').value}}</h5>
        <p class="card-text">Rs. {{productFrm.get('cost').value}}</p>
        <span>{{productFrm.get('category').value}}</span>
      </div>
    </div>
  </div>
</div>